
.task-flex{
    height: 600px;
    text-align: center;
    background-color: gainsboro;
}
.task-flex a{
    text-decoration: none;
    width:100px;
    height: 30px;
}
.task-input{
    height: 300px;
    width: 400px;
    margin-left: 32%;
    background-color:hsla(0,100%,50%,0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}


#outlined-basic{
    margin-top: 20px;
    width: 300px;
    height: 5px;
    padding-top: 30px;
    align-items: center;
}

.task-flex h1{
    font-weight: bold;
    color:grey;
}
#button{
    border: none;
    background-color: rgb(218, 124, 81);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
}
/* .task-flex input{
    border: none;
    width: 240px;
    height: 30px;
    margin-left: 20px;
    font-size: 10px;
    margin-top: 20px;
}
.task-flex textarea{
    border: none;
    width: 240px;
    display: block;
    height: 70px;
    margin-left: 570px;
    margin-top: 20px;
}
.task-flex button{
    border: none;
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: #fff;
    background-color:black;
} */
.task-flex .back{
    border: none;
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin-right: 90%;
    color: #fff;
    background-color:black;
}