.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#fff;   
}
.login-flex{
    height: 600px;
    background-color: #fff;
    text-align: center;
}
.login-flex h2{
    text-align: center;
    color: #fff;
   
}
.log{
    background-color:aquamarine;
    width: 400px;
    height: 300px;
    margin-top: 40px;
    margin-left: 35%;
}
#outlined-basic{
    height: 15px;
}
/* .login-flex input{
    align-items: center;
    display: block;
    margin-left: 530px;
    margin-top: 30px;
    padding: 8px;
    width: 300px;
    border: none;
}
form{
    padding-top: 10px;
}
.login-flex button{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    width: 100px;
} */